body {
    background-color: lightyellow
}

.tetris-container {
    display: flex;
    justify-content: center;
    padding: 5px;

    .game-component-container {
        border: 3px solid black;
        border-radius: 3px;
        margin: 5px;
    }

    #game-grid {
        background-color: lightblue;
    }

    #game-sidebar {
        flex-direction: column;

        #upcoming-pieces-container {
            background-color: lightpink;
        }

        #held-piece-container {
            background-color: lightgreen;
            border-radius: 0px;
            border-top: none;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            width: 300px;
            height: 300px;
            
            
        }
        #text-overlay {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            text-align: center;
            font-weight: bolder;
            font-size: 20px;
            border: 3px solid black;
            padding: 1px;
            background-color: lightgreen;
            margin: auto 5px -5px 5px;
            font-family: sans-serif;
        }
    
        #score-container {
            padding: 5px;
            background-color: lightgray;
            border: 3px solid black;
        }

    }

}

audio {
    display: none
}

.displayGO {
    background-color: white;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    /* flex-direction: column; */
    border-radius: 8px; 
}